!= js('elections')
!= css('elections')

header
body
  #filters
  #root
    h1 Events
  #raw_headlines

  script window.POLITICS_DATA = []
  script(src='/data/politics.js')
  script $(function() { elections_init() })