!= js('facepaper')
!= js('vendor/moment')
!= css('facepaper')

header
body
  #loading
    div(style="margin-bottom: 10px") Literary cat is preparing your magazine. Might be a few minutes...
    img(src="http://media.giphy.com/media/13HBDT4QSTpveU/giphy.gif")

  a#feedback(href="https://www.facebook.com/groups/1643172175898731/", target="_blank") Give Feedback

  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js")
  script(type="text/javascript", src="https://www.yifeitang.dev378.prn1.facebook.com/facepaper")
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp")

  #error

  h1#title
  #links
  #root


