!= js('friends')
!= js('vendor/moment')
!= css('friends')

header
body
  #loading Loading data, could take a minute...

  #root
  script(type="text/javascript", src="https://www.shuw.devrs044.prn2.facebook.com/myfriends")

  #time_container
    #time

  audio#song
    source(src="music/our_friends.mp3")
