body
  ul
    li
      a(href='/topic_graph') Topic Graph
    li
      a(href='/news_treemap') News Tree Map
    li
      a(href='/news_stream') News Stream
    li
      a(href='/words') Word Cloud
    li
      a(href='/swarm') Swarm
    li
      a(href='/story') Story
    li
      a(href='/olympics') Olympics
    li
      a(href='/politics') Politics
    li
      a(href='/zoom') Zoom
    li
      a(href='/trailer') Trailer
    li
      a(href='/gittree') Gittree
    li
      a(href='/friends') Friends
