!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    != js('vendor/d3')
    != js('vendor/jquery-1.7.1')
    != js('vendor/underscore')
    != js('vendor/moment')
    != js('viz')
  body
    != body