!= js('memories')
!= js('vendor/underscore')
!= css('memories')

header
body
  #loading
    div(style="margin-bottom: 10px") Preparing your memories
    img(src="http://media.giphy.com/media/13HBDT4QSTpveU/giphy.gif")

  a#feedback(href="https://fburl.com/memories", target="_blank") Give Feedback

  script(type="text/javascript", src="https://www.shuw-2.sb.facebook.com/memories")

  #error

  h1#title
  #links
  #root


