!= js('memories')
!= js('vendor/underscore')
!= js('vendor/underscore_string')
!= css('memories')

header
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css")
body
  #loading
    div#message(style="margin-bottom: 10px") Preparing your memoriesl
    img(src="https://media.giphy.com/media/hHByno1iwbWCY/giphy.gif")

  script(type="text/javascript", src="https://www.shuw-2.sb.facebook.com/memories")
  a#feedback(href="https://fburl.com/memories", target="_blank") Give Feedback

  #message.hidden

  #stuff.hidden
    input#search(type="text", placeholder="Search")
    #root



