!= js('news_stream')
!= css('news_stream')
!= css('button')

header
body
  #filters just a few moments while we fetch the latest news
  #last_updated
  #root

  script $(function() { news_stream_init('/data/news_data.json', true) })