!= js('news_treemap')
!= css('news_treemap')

header
body
  button#article-count # of Articles
  button#event-count # of News Events

  #pop-over
  #date-range
  #chart

  div inspired by http://mbostock.github.com/d3/ex/treemap.html