!= js('news_wheel')
!= css('news_wheel')
!= css('button')

header
body
  #filters just a few moments while we fetch the latest news
  #last_updated
  #root

  script $(function() { news_wheel_init('/data/news_data.json', true) })