!= js('news_viz')
!= css('news_viz')

header
body
  button#event-count # of News Events
  button#article-count # of Articles

  #pop-over
  #date-range
  #chart

  div inspired by http://mbostock.github.com/d3/ex/treemap.html