!= js('olympics')
!= js('widgets/olympic_stream')
!= css('olympics')

header
body
  table
    tr
      td.scoreboard
        #scoreboard
      td.stream
        #stream_root

  script $(function() { olympics_init('/data/olympics.json', true) })