!= js('politics')
!= css('politics')

header
body
  #filters
  #root.hidden
    h1 Events
  #raw_headlines

  script window.POLITICS_DATA = []
  script(src='/data/politics.js')
  script $(function() { politics_init() })