!= js('words')
!= css('words')

header
body
  #description
    span Generated from weighted frequency of words in news surrounding text (skipping topic names)&nbsp;
    span.date_range

  svg#root
    g
  #news
  #attribution
    a(href='https://github.com/shuw/sandbox/blob/master/assets/js/words.coffee') view source
    p using word cloud layout by&nbsp;
      a(href='http://www.jasondavies.com/word-cloud/') Jason Davies
