!= js('words')
!= css('words')

header
body

  svg#root
    g
  #news
  #attribution
    a(href='https://github.com/shuw/sandbox/blob/master/assets/js/words.coffee') view source
    p using word cloud layout by&nbsp;
      a(href='http://www.jasondavies.com/word-cloud/') Jason Davies

  script $(function() { words_init('/data/all_messages.json', true) })
