!= js('zoom')
!= js('vendor/mustache')
!= css('zoom')

header
body
  #controls
  table
    tr
      td(valign="top")
        #sidebar.hidden
          input.search(type="text")
          .friends
      td(valign="top")
        #root
  script $(function() { zoomInit() })
