@palette-dark-blue: #1b4b63;
@palette-blue: #276b8c;
@palette-light-blue: #d6dfe3;
@palette-light-grey: #95938f;
@palette-grey: #777;

body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  width: 1000px;
  margin: 0 auto;
}

a, .link {
  text-decoration: none;
  color: @palette-blue;
  cursor: pointer;

  &.selected {
    color: black;
  }

  &.disabled {
    color: @palette-grey;
  }
}

#filters {
  margin-top: 20px;
  width: 200px;
  float: left;
  font-size: 14px;
}

#root {
  width: 800px;
  float: left;

  .group {

    .relation {

      &.person_gave_a_speech {
        .avatar {
          vertical-align: middle;

          &.democrat {
            border: 1px solid blue;
          }
          &.republican {
            border: 1px solid red;
          }
          &.neutral {
            border: 1px solid gray;
          }
        }
      }

    }
  }
}

#raw_headlines {
  clear: both;
}