@palette-dark-blue: #1b4b63;
@palette-blue: #276b8c;
@palette-light-blue: #d6dfe3;
@palette-light-grey: #95938f;
@palette-grey: #777;

body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  width: 1000px;
  margin: 0 auto;
}

a, .link {
  text-decoration: none;
  color: @palette-blue;
  cursor: pointer;

  &.selected {
    color: black;
  }

  &.disabled {
    color: @palette-grey;
  }
}

.avatar {
  &.democrat {
    border: 1px solid blue;
  }
  &.republican {
    border: 1px solid red;
  }
  &.neutral {
    border: 1px solid gray;
  }
}

#filters {
  margin-top: 20px;
  width: 200px;
  float: left;
}

#root {
  width: 800px;
  float: left;

  .group {

    > h1 {
      float: left;
    }

    > time {
      margin-top: 20px;
      float: right;
    }

    .relation {
      clear: both;

      &.political_ad {
        .video {
          display: inline-block;
        }
      }

      &.criticism {
        .sources, .target {
          display: inline-block;
          .avatar {
            vertical-align: middle
          }
        }
        .sources {
          width: 400px;

          .source {
            .avatar, .reason {
              display: inline-block;
            }
            .reason {
              margin-left: 5px;
              width: 300px;
            }
          }
        }

        .target {
          display: inline-block;
          width: 100px;
        }
      }

      &.speech {

        .speaker {
          margin-right: 5px;
        }

        .quote {
          margin-bottom: 10px;

          .avatar {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

#raw_headlines {
  clear: both;
}