body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0 auto;
  background-color: #EFEFEF;
}

#root {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
}

#root {
  margin-top: 60px;
  text-align: left;
}

#feedback {
  position: fixed;
  top: 10px;
  right: 14px;
  font-size: 16px;
  color: #6699FF; 
}

#searchContainer {
  top: 0;
  position: fixed;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  background-color: #EEE;
}

.photo {
  margin: 2px;
}

.photo.small {
  width: 60px;
  height: 60px;
}

.photo.medium {
  width: 90px;
  height: 90px;
}

.photo.large {
  width: 200px;
  height: 200px;
}

.preview {
  width: 600px;
}

#popover {
  position: absolute;
}

#loading {
  margin: 20px;
  font-size: 20px;
}

.tags {
  margin-top: 10px;
}

.tt-menu {
  text-align: left;
  width: 422px;
  margin: -10px 0 0 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

