body {
  font-family: sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #365D9B;
}

#filters {
  button {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

#root {
  position: relative;

  .cell {
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;

    .from_now {
      font-size: 40px;
      padding-bottom: 10px;
      color: #888;
    }

    .headline {
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        text-decoration: none;
        color: #365D9B;
      }
    }

    .date {
      color: gray;
      padding-bottom: 5px;
    }

    img.event { }

    .participant {
      overflow: hidden;
      clear: both;
      position: relative;
      height: 60px;

      .avatar {
        width: 50px;
        text-align: center;
        float: left;
        padding: 5px 10px 2px 0;
      }

      a.name, p.param_name {
        width: 200px;
        position: absolute;
        left: 60px;
        float: left;

        &.name {
          top: 6px;
          font-size: 14px;
          color: #555;
        }
        &.param_name {
          font-size: 12px;
          color: #AAA;
          top: 13px;
        }
      }
    }

    .actors {
      color: gray;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}