@palette-dark-blue: #1b4b63;
@palette-blue: #276b8c;
@palette-light-blue: #d6dfe3;


body {
}

#root {
  font-size: 18px;
}

.link {
  color: @palette-blue;
  cursor: pointer;
}

#scoreboard {
  .team {
    height: 30px;
    > * {
      vertical-align: middle;
    }
    .name {
      display: inline-block;
      width: 100px;
      margin-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .awards {
      .award {
        margin-left: 10px;
      }
    }
  }

}