@palette-dark-blue: #1b4b63;
@palette-blue: #276b8c;
@palette-light-blue: #d6dfe3;
@palette-light-grey: #95938f;
@palette-grey: #555;

body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body > table {
  td.scoreboard {
    vertical-align: top;
    width: 170px;
  }
  td.stream {
    vertical-align: top;
  }

}

#scoreboard {
  margin: 5px 10px 10px 10px;
  font-size: 18px;

  .link {
    color: @palette-blue;
    cursor: pointer;

    &.selected {
      color: black;
    }
  }

  .all {
    text-align: left;
    margin-bottom: 10px;
  }

  .team {
    height: 30px;
    margin-bottom: 10px;
    > * {
      vertical-align: middle;
    }
    .name {
      display: inline-block;
      width: 50px;
      margin-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .awards {
      .award {
        margin-left: 10px;
      }
    }
  }
}

#stream {
  margin-top: 10px;

  .cell {
    width: 600px;
    margin-bottom: 30px;
    .date {
      color: @palette-light-grey;
    }
    .event {
      .name {
        color: @palette-light-grey;
        font-size: 20px;
      }

    }

  }
}