body {
  font-family: sans-serif;
  font-size: 12px;
}

#root {
  margin: 0 auto;
  display: block;
}

#news {
  margin: 0 auto;
  width: 600px;
  text-align: center;

  .headline {
    color: #555;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

#attribution {
  color: #555;
  text-align: center;
}