@palette-dark-blue: #1b4b63;
@palette-blue: #276b8c;
@palette-light-blue: #d6dfe3;
@palette-light-grey: #95938f;
@palette-grey: #555;

body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  color: @palette-grey;
}

#controls {
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  position: fixed;
  padding: 10px 100px 10px 10px;
  text-align: center;

  .description {
    margin-right: 10px;
    color: #EFEFEF;
    font-size: 16px;
  }
  .button {
    display: inline-block;
    color: black;
    background-color: #AAA;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;

    &:hover {
      background-color: #EEE;
    }
  }
}

#root {
  margin: 0 40px;
  white-space: nowrap;

  .year {
    width: 400px;
    display: inline-block;
    padding-top: 50px;
    vertical-align: top;
    white-space: normal;

    > h1 {
      margin: 10px 0;
      font-size: 40px;
      font-weight: 200;

      > .description, .title {
        vertical-align: middle;
      }
      > .description {
        margin-left: 20px;
        font-size: 25px;
        font-weight: 200;
      }
    }
  }

  .unit {
    margin: 15px 15px 0 0;
    padding: 15px 20px;
    width: 300px;
    display: inline-block;
  }

  .unit.hidden_count {
    vertical-align: middle;
    text-align: center;
  }

  .unit:not(.hidden_count) {
    vertical-align: top;
    display: inline-block;
    background: #EFEFEF;
    border-radius: 5px;

    .message {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .meta {
      margin-top: 10px;
      text-align: right;
      color: @palette-light-grey;
    }

    .share {
      margin: 10px 0 0 10px;
      .title {
        font-size: 14px;
        margin-bottom: 5px;
      }
      .blurb {
      }
    }

  }
}
